body {
    font-family: 'SourceSansPro-Regular', sans-serif;
    background-image: url(../img/Fondos\ vacíos/FondoHome.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.hero {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.content-home {
    max-width: 320px;
}

.welcome-container img{
    width: 200px;
    margin-bottom: 0.3em;
}

.title-containaer img {
    width: 80px;
    margin-bottom: 0.3em;
}
.duo-containaer img {
    width: 130px;
    margin-bottom: 0.3em;
}
.date-containaer img {
    width: 70px;
    margin-bottom: 0.3em;
}
.titleTwo-containaer img {
    width: 150px;
    margin-bottom: 0.3em;
}
.titileTree-containaer img {
    width: 140px;
    margin-bottom: 0.3em;
}
.location-containaer img {
    width: 170px;
    margin-bottom: 0.3em;
}

.castle-containaer img{
    width: 320px;
    margin-bottom: 0.3em;
}

.dinner-containaer img{
    width: 200px;
    margin-bottom: 0.3em;
}

.titlefour-containaer img{
    width: 100px;
    margin-bottom: 0.3em;
}

.zipcode-containaer img{
    width: 160px;
    margin-bottom: 0.3em;
}

.titlefive-containaer img{
    width: 70px;
    margin-bottom: 0.3em;
}

.hour-containaer img{
    width: 150px;
    margin-bottom: 0.3em;
}

.footer-containaer img{
 width: 100%;
}

@media only screen and (max-width:320px){
    .hero {
        height: 25vh;
    }
}

@media only screen and (min-width:360px) and (max-width:426px){
    .hero {
        height: 25vh;
    }
}


@media only screen and (min-width:768px) and (max-width:976px) {
    .hero {
        height: 65vh;
    }
    .welcome-container img{
        width: 100%;
        margin-bottom: 0.3em;
    }
    
    .title-containaer img {
        width: 180px;
        margin-bottom: 0.3em;
    }
    .duo-containaer img {
        width: 160px;
        margin-bottom: 0.3em;
    }
    .date-containaer img {
        width: 120px;
        margin-bottom: 0.3em;
    }
    .titleTwo-containaer img {
        width: 220px;
        margin-bottom: 0.3em;
    }
    .titileTree-containaer img {
        width: 100%;
        margin-bottom: 0.3em;
    }
    .location-containaer img {
        width: 300px;
        margin-bottom: 0.3em;
    }
    
    .castle-containaer img{
        width: 100%;
        margin-bottom: 0.3em;
    }
    
    .dinner-containaer img{
        width: 100%;
        margin-bottom: 0.3em;
    }
    
    .titlefour-containaer img{
        width: 200px;
        margin-bottom: 0.3em;
    }
    
    .zipcode-containaer img{
        width: 100%;
        margin-bottom: 0.3em;
    }
    
    .titlefive-containaer img{
        width: 170px;
        margin-bottom: 0.3em;
    }
    
    .hour-containaer img{
        width: 330px;
        margin-bottom: 0.3em;
    }
}

@media only screen and (min-width:977px) and (max-width:1067px) {
    .hero {
        height: 90vh;
    }
    .welcome-container img{
        width: 100%;
        margin-bottom: 0.3em;
    }
    
    .title-containaer img {
        width: 100%;
        margin-bottom: 0.3em;
    }
    .duo-containaer img {
        width: 100%;
        margin-bottom: 0.3em;
    }
    .date-containaer img {
        width: 100%;
        margin-bottom: 0.3em;
    }
    .titleTwo-containaer img {
        width: 100%;
        margin-bottom: 0.3em;
    }
    .titileTree-containaer img {
        width: 100%;
        margin-bottom: 0.3em;
    }
    .location-containaer img {
        width: 100%;
        margin-bottom: 0.3em;
    }
    
    .castle-containaer img{
        width: 100%;
        margin-bottom: 0.3em;
    }
    
    .dinner-containaer img{
        width: 100%;
        margin-bottom: 0.3em;
    }
    
    .titlefour-containaer img{
        width: 100%;
        margin-bottom: 0.3em;
    }
    
    .zipcode-containaer img{
        width: 100%;
        margin-bottom: 0.3em;
    }
    
    .titlefive-containaer img{
        width: 100%;
        margin-bottom: 0.3em;
    }
    
    .hour-containaer img{
        width: 100%;
        margin-bottom: 0.3em;
    }
}

@media only screen and (min-width:1140px) and (max-width:1440px){
    .hero {
        height: 100vh;
    }
    .content-home {
        max-width: 100%;
    }
    .welcome-container img{
        width: 700px;
        margin-top: 5em;
        margin-bottom: 5em;
    }
    
    .title-containaer img {
        width: 300px;
        margin-bottom: 5em;
    }
    .duo-containaer img {
        width: 300px;
        margin-bottom: 5em;
    }
    .date-containaer img {
        width: 150px;
        margin-bottom: 5em;
    }
    .titleTwo-containaer img {
        width: 320px;
        margin-bottom: 5em;
    }
    .titileTree-containaer img {
        width: 300px;
        margin-bottom: 5em;
    }
    .location-containaer img {
        width: 200px;
        margin-bottom: 5em;
    }
    
    .castle-containaer img{
        width: 900px;
        margin-bottom: 5em;
    }
    
    .dinner-containaer img{
        width: 100%;
        margin-bottom: 5em;
    }
    
    .titlefour-containaer img{
        width: 200px;
        margin-bottom: 5em;
    }
    
    .zipcode-containaer img{
        width: 350px;
        margin-bottom: 5em;
    }
    
    .titlefive-containaer img{
        width: 150px;
        margin-bottom: 5em;
    }
    
    .hour-containaer img{
        width: 100%;
        margin-bottom: 5em;
    }
}

@media only screen and (min-width:1500px) and (max-width:2560px) {
    .hero {
        height: 100vh;
    }
    .content-home {
        max-width: 100%;
    }
    .welcome-container img{
        width: 100%;
        margin-bottom: 10em;
    }
    
    .title-containaer img {
        width: 600px;
        margin-bottom: 10em;
    }
    .duo-containaer img {
        width: 600px;
        margin-bottom: 10em;
    }
    .date-containaer img {
        width: 300px;
        margin-bottom: 10em;
    }
    .titleTwo-containaer img {
        width: 620px;
        margin-bottom: 10em;
    }
    .titileTree-containaer img {
        width: 600px;
        margin-bottom: 10em;
    }
    .location-containaer img {
        width: 350px;
        margin-bottom: 10em;
    }
    
    .castle-containaer img{
        width: 100%;
        margin-bottom: 10em;
    }
    
    .dinner-containaer img{
        width: 100%;
        margin-bottom: 10em;
    }
    
    .titlefour-containaer img{
        width: 400px;
        margin-bottom: 10em;
    }
    
    .zipcode-containaer img{
        width: 700px;
        margin-bottom: 10em;
    }
    
    .titlefive-containaer img{
        width: 300px;
        margin-bottom: 10em;
    }
    
    .hour-containaer img{
        width: 100%;
        margin-bottom: 10em;
    }
}