body {
    background-image: url(../img/Fondos\ vacíos/FondoHome.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}


.hero {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.titlesix-container{
    display: flex;
    justify-content: center;
}

.content-home {
    max-width: 320px;
}

.welcome-container img {
    width: 200px;
    margin-bottom: 0.3em;
}

.title-container img {
    width: 80px;
    margin-bottom: 0.3em;
}

.duo-container img {
    width: 130px;
    margin-bottom: 0.3em;
}

.date-container img {
    width: 70px;
    margin-bottom: 0.3em;
}

.titleTwo-container img {
    width: 150px;
    margin-bottom: 0.3em;
}

.titileTree-container img {
    width: 140px;
    margin-bottom: 0.3em;
}

.location-container img {
    width: 170px;
    margin-bottom: 0.3em;
}

.castle-container img {
    width: 320px;
    margin-bottom: 0.3em;
}

.dinner-container img {
    width: 200px;
    margin-bottom: 0.3em;
}

.titlefour-container img {
    width: 100px;
    margin-bottom: 0.3em;
}

.zipcode-container img {
    width: 160px;
    margin-bottom: 0.3em;
}

.titlefive-container img {
    width: 70px;
    margin-bottom: 0.3em;
}

.titlesix-container img{
    width: 175px;
    margin-bottom: 0.3em;
}

.hour-container img {
    width: 220px;
    margin-bottom: 0.3em;
}

.footer-container img {
    width: 100%;
}

@media only screen and (max-width:320px) {
    .hero {
        height: 25vh;
    }
}

@media only screen and (min-width:360px) and (max-width:426px) {
    .hero {
        height: 25vh;
    }
}


@media only screen and (min-width:768px) and (max-width:976px) {
    .hero {
        height: 65vh;
    }

    .welcome-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }

    .title-container img {
        width: 180px;
        margin-bottom: 0.3em;
    }

    .duo-container img {
        width: 160px;
        margin-bottom: 0.3em;
    }

    .date-container img {
        width: 120px;
        margin-bottom: 10.3em;
    }

    .titleTwo-container img {
        width: 220px;
        margin-bottom: 0.3em;
    }

    .titileTree-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }

    .location-container img {
        width: 300px;
        margin-bottom: 0.3em;
    }

    .castle-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }

    .dinner-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }

    .titlefour-container img {
        width: 200px;
        margin-bottom: 0.3em;
    }

    .zipcode-container img {
        width: 100%;
        margin-bottom: 1.3em;
    }

    .titlefive-container img {
        width: 170px;
        margin-bottom: 1.3em;
    }

    .titlesix-container img{
        width: 270px;
        margin-bottom: 0.3em;
    }

    .hour-container img {
        width: 330px;
        margin-bottom: 0.3em;
    }
}

@media only screen and (min-width:977px) and (max-width:1067px) {
    .hero {
        height: 90vh;
    }

    .welcome-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }

    .title-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }

    .duo-container img {
        width: 100%;
        margin-bottom: 2.3em;
    }

    .date-container img {
        width: 160px;
        margin-bottom: 9.3em;
    }

    .titleTwo-container img {
        width: 100%;
        margin-bottom: 3.3em;
    }

    .titileTree-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }

    .location-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }

    .castle-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }

    .dinner-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }

    .titlefour-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }

    .zipcode-container img {
        width: 100%;
        margin-bottom: 1.3em;
    }

    .titlefive-container img {
        width: 50%;
        margin-bottom: 2.3em;
    }

    .titlesix-container img{
        width: 100%;
        margin-bottom: 0.3em;
    }

    .hour-container img {
        width: 100%;
        margin-bottom: 0.3em;
    }
}

@media only screen and (min-width:1140px) and (max-width:1440px) {
    .hero {
        height: 100vh;
    }

    .content-home {
        max-width: 100%;
    }

    .welcome-container img {
        width: 700px;
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .title-container img {
        width: 300px;
        margin-bottom: 5em;
    }

    .duo-container img {
        width: 300px;
        margin-bottom: 5em;
    }

    .date-container img {
        width: 150px;
        margin-bottom: 15em;
    }

    .titleTwo-container img {
        width: 320px;
        margin-bottom: 5em;
    }

    .titileTree-container img {
        width: 300px;
        margin-bottom: 5em;
    }

    .location-container img {
        width: 200px;
        margin-bottom: 5em;
    }

    .castle-container img {
        width: 900px;
        margin-bottom: 5em;
    }

    .dinner-container img {
        width: 100%;
        margin-bottom: 5em;
    }

    .titlefour-container img {
        width: 200px;
        margin-bottom: 5em;
    }


    .zipcode-container img {
        width: 350px;
        margin-bottom: 5em;
    }

    .titlefive-container img {
        width: 150px;
        margin-bottom: 5em;
    }

    .titlesix-container img {
        width: 370px;
        margin-bottom: 5em;
    }

    .hour-container img {
        width: 100%;
        margin-bottom: 5em;
    }
}

@media only screen and (min-width:1500px) and (max-width:2560px) {
    .hero {
        height: 100vh;
    }

    .content-home {
        max-width: 100%;
    }

    .welcome-container img {
        width: 100%;
        margin-bottom: 10em;
    }

    .title-container img {
        width: 600px;
        margin-bottom: 10em;
    }

    .duo-container img {
        width: 600px;
        margin-bottom: 10em;
    }

    .date-container img {
        width: 300px;
        margin-bottom: 10em;
    }

    .titleTwo-container img {
        width: 620px;
        margin-bottom: 10em;
    }

    .titileTree-container img {
        width: 600px;
        margin-bottom: 10em;
    }

    .location-container img {
        width: 350px;
        margin-bottom: 10em;
    }

    .castle-container img {
        width: 100%;
        margin-bottom: 10em;
    }

    .dinner-container img {
        width: 100%;
        margin-bottom: 10em;
    }

    .titlefour-container img {
        width: 400px;
        margin-bottom: 10em;
    }

    .zipcode-container img {
        width: 700px;
        margin-bottom: 10em;
    }

    .titlefive-container img {
        width: 300px;
        margin-bottom: 10em;
    }

    .titlesix-container img {
        width: 700px;
        margin-bottom: 10em;
    }

    .hour-container img {
        width: 100%;
        margin-bottom: 10em;
    }
}