/*Símbolo de Carga*/
*,*::after,*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contenedor_loader {
    background-color: rgba(49, 44, 47, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#loader {
    border: 4px;
    border-top-color: #7a5d04;
    border-top-style: solid;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 0.5s linear infinite;
    -o-animation: girar 0.5s  linear infinite;
    animation: girar 0.5s linear infinite;
}

@keyframes girar {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}


/**========= ANIMACION =========**/
.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: 20px;
    right: 35px;
    background: #f27474;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 30%);
    z-index: 100;
    transition: all 300ms ease;
}

.btn-wsp img {
    width: 40px;
}

.btn-wsp img:hover {
    width: 45px;
}
.btn-wsp:hover {
    background: #d36464;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .btn-wsp {
        width: 50px;
        height: 50px;
        line-height: 48px;
    }
}

.navlogo {
    display: flex;
    justify-content: center;
    align-items: end;
}

.navlogo img {
    width: 100%;
}
/* 
.navbarra {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.navbarra img {
    width: 100%;
} */

.navbar-toggler-icon {
    width: 20px !important;
    height: 20px !important;
}

.navbar {
    padding-top: 5px !important;
}

@media only screen and (min-width:240px) and (max-width:359px){
    .navlogo {
        height: 85px;
    }
    .navbar {
        height: 9% !important;
    }
}
@media only screen and (min-width:360px) and (max-width:424px){
    .navlogo {
        height: 95px;
    }
    .navbar {
        height: 9% !important;
    }
}
@media only screen and (min-width:425px) and (max-width:700px){
    .navlogo {
        /* height: 130px; */
    }
}
@media only screen and (min-width:701px) and (max-width:768px){
    .navlogo {
        /* height: 95px; */
    }
    .navbar {
        height: 15% !important;
    }
}
@media only screen and (min-width:1024px) and (max-width:1439px){
    .navlogo {
        /* height: 110px; */
    }
    .navbar {
        height: 100px !important;
    }
}
@media only screen and (min-width:1440px) and (max-width:2560px){
    .navlogo {
        /* height: 110px; */
    }
    .navbar {
        height: 25% !important;
    }
}

.nav-link {
    font-family: 'Amatic', serif !important;
}

.nav-link.active, .nav-link:active {
    border-bottom: 1px solid #f27474;
    color: #f27474  !important;
}

.navbar-toggler {
    margin-right: 10px !important;
}

.navbar .navbar-nav {
    display: flex !important;
    justify-content: space-around;
}

.navbar-nav {
    padding-left: 40px !important;
}

.navlogo img {
    width: 100%;
}

#home{
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
}

.navbar-toggler-icon {
    background-image: url(../img/Navbar\ botón.png) !important;
}

.btn-close {
    background-image: url(../img/close.svg) !important;
    font-size: 35px;
}

 #offcanvas-body {
    display: none;
 }